@import '../../utils/style/vars.scss';

.form {
	max-width: 320px;
	background-color: #ececec;
	padding: 20px;
	margin: 0 auto;
}

.inputWrapper {
	margin-bottom: 10px;
}

.input {
	padding: 10px 15px;
	border-radius: 4px;
	border: 1px solid rgba(000,000,000,0.1);
	width: 100%;

	color: $text-color;
}

.error {
	color: rgb(235, 72, 72);
	display: inline-block;
	margin-bottom: 5px;
}
